@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  background-color: hsl(225, 100%, 94%);
}

button:hover {
  background-color: hsl(245, 75%, 65%);
  cursor: pointer;
}

a:hover {
  color: hsl(245, 75%, 65%);
  text-decoration: none;
}

a {
  text-decoration: none;
}

a.link2 {
  color: dark;
}

a:visited { 
  text-decoration: none;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-columns {
  flex-direction: column;
}

.flex-row { 
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.height-100vh {
  height: 100vh;
}

.max-width-375 {
  max-width: 375px;
}

.max-width-300 {
  max-width: 300px;
}

.max-width-300 {
  max-width: 300px;
}

.width-300 {
  width: 300px;
}

.width-100p {
  width: 100%;
}

.height-450 {
  height: 450px;
}

.object-fit {
  object-fit: cover;
}

.margin-auto {
  margin: auto;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-16px {
  font-size: 16px;
}

.text-20px {
  font-size: 25px;
}

.text-14px {
  font-size: 14px;
}

.text-white {
  color: white;
}

.text-dsat-blue {
  color: hsl(224, 23%, 55%);
}

.bg-white {
  background-color: white;
}

.bg-pale-blue {
  background-color: hsl(225, 100%, 98%);
}

.bg-dark-blue {
  background-color: hsl(245, 75%, 52%);
}

.text-dark-blue {
  color: hsl(245, 75%, 52%);
}

.box-shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.br-top-left-right {
  border-radius: 1.2rem 1.2rem 0rem 0rem;
}

.br-bottom-left-right {
  border-radius: 0rem 0rem 1.2rem 1.2rem;
}

.br-radius {
  border-radius: .5rem;
}

.b-none {
  border: none;
}

.margin-top {
  margin-top: -5px;
}

.padding-h1 {
  padding-top: 30px;
}

.padding-right {
  padding-right: 10px;
}

.padding-bottom-small {
  padding-bottom: 5px;
}

.padding-left-large {
  padding-left: 65px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-p {
  padding-top: 20px;
}

.padding-top {
  padding: 10px;
}

.padding {
  padding: 15px;
}

.padding-small {
  padding: 10px;
}

.padding-lr {
  padding-left: 20px;
  padding-right: 20px;
}
 